<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lqm.tomatoit">

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_photo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--autolayout设计稿尺寸-->
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CollectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>